/* Add any styling you want */
body {
  font-family:Arial;
  font-size:18px;
  }

h1 {
    font-size:40px;
    padding-left:10px;
  }

  h2 {
    font-size:30px;
    font-style:italic;
    padding-left:10px;
  }
  .container {
    width:900px;
    margin:0 auto;
  }
.banner{
  background-image: url(http://lucca.fr/img/home/header-illu-home.png);
  width:900px;
  height:300px;
  margin-top:20px;
}
 .cards {
   display:flex;
   flex-wrap:wrap;
   align-items: center;
 }
 .card img{
   max-width:100%;
   height:auto;
   max-height:150px;
 }

 .card {
   background-color:#e6f8f9;
   border-radius:10px;
   padding:0;
   margin:10px;
   flex-basis:250px;
   box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
 }
 p{
   margin:10px;
 }

 .card h3 {
   font-size:30px;
   border-bottom:solid 1px grey;
   padding: 20px 10px 20px 10px;
   background-color: white;
   margin: 0px;
}
 .chip {
  border-radius: 5px;
  background-color:rgba(0, 0, 255, .5);
  width: fit-content;
   padding:5px;
  font-weight:850;
  font-size:14px;
  margin-top: -15px;
  margin-left: 25px;
 }
.icon {
  height:45px !important;
  width:45px;
  border-radius:5px;
  padding-left:10px;
  margin-right:10px;
}
.flex{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.right{
  position:right;
}
