/* Add any styling you want */
body {
  font-family:Arial;
  font-size:18px;
  }
div{
    padding:5px;
  }

h1 {
    font-size:40px;
    padding-left:10px;
    text-align:center;
  }

  h2 {
    font-size:30px;
    font-style:italic;
    padding-left:10px;
    text-align:center;
  }
  p{
    margin:10px;
  }
  a{
    text-decoration: none;
  }
  .container {
    width:1200px;
    margin:0 auto;
  }
.banner{
  background-image: url(https://cdn.pixabay.com/photo/2018/02/14/10/28/people-3152585__340.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  width:1200px;
  height:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .cards {
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
 }
 .card img{
   max-width:100%;
   height:auto;
 }

 .card {
   border-radius:10px;
   padding:0;
   margin:10px;
   flex-basis:450px;
   box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
 }

 .card h3 {
   font-size:16px;
   background-color: white;
   margin: 0px;
}
.header {
  padding: 10px 5px 10px 5px;
  background-color: white;
  margin: 0px;
  height:50px;
  border-bottom:solid 1px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .chip {
  border-radius: 5px;
  background-color:rgb(127, 127, 255);
  width: fit-content;
  padding:5px;
  font-weight:850;
  font-size:14px;
  margin-top: -15px;
  margin-left: 25px;
 }

.icon {
  height:25px !important;
  width:25px;
  border-radius:5px;
  margin:0 10px;
}
.flex{
  display:flex;
}
.center{
  align-items:center;
}
.space-between{
  justify-content:space-between;
}
.space-around{
  justify-content:space-around;
}
.right{
 float:right;
}

.btn a{
  font-size:16px;
}
.btn{
  background-color:rgb(127, 127, 255);
  border-radius:5px;
  color:white;
  padding:5px;
}
.label{
  font-family:arial;
  font-size:15px;
  color:rgb(127, 127, 255);
  font-weight: 700;
}
